.possible_build_start {
    display: none !important;
}

.extension-red {
    color: #d43635 !important;
}

.costs .resource {
    width: auto !important;
}

#galaxyContent .cellAction {
    width: 107px !important;
}

#galaxyContent .cellAction .icon.icon_info {
    cursor: pointer;
}

#customTimeNeeded {
    margin-bottom: 5px !important;
}

/*
#planetbarcomponent .smallplanet {
    height: 69px !important;
}

#planetbarcomponent .extension-bookmark {
    padding-top: 33px !important;
}*/
