.possible_build_start {
    display: none !important;
}

.extension-red {
    color: #d43635 !important;
}

.costs .resource {
    width: auto !important;
}

#galaxyContent .cellAction {
    width: 107px !important;
}

#galaxyContent .cellAction .icon.icon_info {
    cursor: pointer;
}